<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title></title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../../../style/laws-v1.css" />
    <link rel="prev" type="text/html" href="" />
    <link rel="next" type="text/html" href="" />
  </head>
  <body class="LegislativeBill">
    <header class="era0">
      <p class="printRef"></p>
      <p class="chapter"></p>
      <p class="billDescription"></p>
      <p class="billNumber"></p>
      <p class="introducedBy"></p>
      <p class="billTitle"></p>
    </header>
    <main class="era0">
      <p class="enactingFormula">Be it enacted by the people of the State of Nebraska,</p>
      
      <!-- If the provision amends an existing statute, then utilize the following pattern -->
      <section id="s1">
        <div id="s1_chapeau">
          <p>
            <span class="designator-label">Section</span>
            <span class="designator-value"></span>
            <span class="chapeau"></span>
          </p>
        </div>
        <div id="s1_content">
          <section id="{section-number}">
            <div id="{section-number}_heading">
              <h1>
                <span class="designator-value"></span>
              </h1>
            </div>
            <div id="{section-number}_content">
              <p id="{subsection-number}">
                <span class="designator-value"></span>
                <span class="content"></span>
              </p>
            </div>
          </section>
        </div>
      </section>

      <!-- If the provision enacts a brand new provision, then utilize the following pattern -->

      <section id="s2">
        <div id="s2_heading">
          <h1>
            <span class="designator-value"></span>
          </h1>
        </div>
        <div id="s2_content">
          <p id="{subsection-number}">
            <span class="designator-value"></span>
            <span class="content"></span>
          </p>
        </div>
      </section>

    </main>
  </body>
</html>