<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>LB[#]</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="canonical" href="" />
    <link rel="stylesheet" type="text/css" href="laws-v1.css" />
    <link rel="prev" type="text/html" href="" hreflang="en-US" />
    <link rel="next"type="text/html"href="" hreflang="en-US" />
  </head>
  <body class="LegislativeBill">
    <header class="era1">
      <p class="printRef"></p>
      <p class="billNumber">Legislative Bill []</p>
      <p class="approved"></p>
      <p class="introducedBy">Introduced by...</p>
      <p class="billTitle">AN ACT...</p>
    </header>
    <main>
      <p class="enactingFormula">Be it enacted by the people of the State of Nebraska,</p>
      <section id="s1">
        <p class="chapeau"></p>
        <p class="content"></p>
      </section>
      <section id="s2">
        <p class="chapeau"></p>
        <p class="content"></p>
      </section>
      <p class="approved">Approved <time datetime=""></time></p>
    </main>
  </body>
</html>