<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title></title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../../../style/laws-v1.css" />
    <link rel="prev" type="text/html" href="" />
    <link rel="next" type="text/html" href="" />
  </head>
  <body class="LegislativeBill">
    <header class="era0">
      <p class="printRef"></p>
      <p class="chapter"></p>
      <p class="billDescription"></p>
      <p class="billNumber"></p>
      <p class="introducedBy"></p>
      <p class="billTitle"></p>
    </header>
    <main class="era0">
      <p class="enactingFormula">Be it enacted by the people of the State of Nebraska,</p>
      <section id="s1">
        <div id="s1_chapeau">
          <p>
            <span class="designator-label">Section</span>
            <span class="designator-value"></span>
            <span class="chapeau"></span>
          </p>
        </div>
        <div id="s1_content">
          
        </div>
      </section>
    </main>
  </body>
</html>