<html>
  <head>
    <title>[Act] v[#]</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" media="screen" href="">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="../../scripts/show-diffs.js"></script>
    <script src="../../scripts/hide-diffs.js"></script>
  </head>

  <body>
    <p style="text-align:center">[[Act] v[#].]</p>
    <p style="text-align:center">[As Amended Through Laws [Year], LB [#].]</p>
    <p style="text-align:center">[Effective <time datetime="YYYY-MM-DD">[Month] [Day], [Year]</time>. <i>See</i> &sect;&nbsp;[#].]</p>
  </body>
</html>